.MonthExpenses {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* margin-bottom: 1px; */
  padding: 20px 20px;
  /* margin: 20px 0; */
  /* background-color: #f1f1f1; */
  border: none;
  border-bottom: 1px dashed #d4d4d4;
  /* border-radius: 5px; */
}

.List {
  /* padding: 10px 20px 0; */
  width: 100%;
  /* margin-top: 2px; */
}

.Wrapper {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.Category {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 13px;
}

.Balance {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 13px;
}

.TotalBg {
  box-sizing: border-box;
  top: 20px;
  height: 25px;
  width: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 49.9%, #d8d8d8 49.9%, #f1f1f1 60%, rgba(0, 0, 0, 0) 60%) fixed,linear-gradient(135deg, #f1f1f1 10%, rgba(0, 0, 0, 0) 10%) fixed;
  background-size: 0.3em 0.3em;
  /* background-color: #fff; */
  /* border-radius: 5px; */
}

.TotalTitle {
  position: absolute;
  top: 22px;
  left: 25px;
  z-index: 1;
}

.TotalSum {
  position: absolute;
  top: 22px;
  right: 25px;
}

.TotalExpense {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 25px;
  background-color: #d9d9d9;
  opacity: .8;
  /* border-radius: 5px; */
}

.Expense {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background-color: #d9d9d9;
  opacity: .8;
  /* border-radius: 5px; */
}
