.YearExpenses {
  margin-bottom: 20px;
  padding: 20px 20px 15px;
  /* margin: 20px; */
  background-color: #f1f1f1;
  /* border-top: 1px dashed gray; */
  /* border: none; */
  /* border-radius: 5px; */
}

.Wrapper {
  display: flex;
  justify-content: space-between;
}

.List {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;
  width: 7%;
}

.List:hover {
  cursor: pointer;
}

.List div {
  background-color: #d3d3d3;
}

.List p {
  font-size: 12px;
  text-align: center;
}

.Active div {
  background-color: #ff6060;
}

.Active p {
  color: #ff6060;
  font-weight: 700;
}
