.Welcome {
  padding: 20px;
  /* background-color: white;
  text-align: center; */
}

.Button {
  width: 70px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  /* font-weight: 700; */
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #646464;
  cursor: pointer;
}

.Button:disabled {
  background: #ccc;
  /* color: #000; */
  cursor: not-allowed;
}

.Input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  /* margin-bottom: 10px; */
  margin-right: 10px;
  padding: 0;
  text-align: left;
  border: none;
  border-bottom: 1px solid #646464;
  outline: none;
  border-radius: 0;
  /* flex-grow: 1; */
}

.Input:disabled {
  background-color: #fff;
  border-bottom: none;

}

.Type {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  width: 100%;
  /* margin-left: auto; */
  /* flex-grow: 1; */
}

.Type input {
  margin-right: 5px;
}

.Wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.Label {
  /* position: absolute;
  top: -13px;
  left: 0; */
  width: 100%;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  color: #727272;
}

.Type input:disabled + label {
  color: #c5c5c5;
}

.WrapperText {
  display: flex;
  flex-direction: column;
}

.Text {
  display: block;
  /* margin-top: 10px; */
  font-size: 14px;
  color: #000;
  line-height: 30px;
}

.Text:last-of-type {
  margin-top: 0;
}

.IconContainer {
  display: flex;
  flex-wrap: wrap;
}

.IconWrapper {
  display: flex;
  justify-content: center;
  width: 40px;
  margin-top: 10px;
  /* margin-right: 10px; */
}

.IconWrapper input {
  display: none;
}

.IconWrapper input:checked + i {
  color: #000;
}

.TransactionsIcon {
  font-size: 22px;
  color: #b9b9b9;
}

.TransactionsIcon:hover {
  cursor: pointer;
}
