.BudgetWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 30px;
  background-color: var(--budgetBackground);
  /* border-bottom: 1px dashed #d4d4d4; */
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.Header {
  /* margin-bottom: 15px; */
  font-weight: 700;
}

.Content {
  margin-top: 30px;
}


.Content:first-of-type {
  margin-top: 0;
}

.Button {
  width: 90px;
  height: 25px;
  font-size: 14px;
  /* font-weight: 700; */
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #646464;
  cursor: pointer;
}

.Button:disabled {
  background: var(--budgetBackground);
  border: 1px dashed #d4d4d4;
  color: #000000;
  font-weight: 400;
  cursor: not-allowed;
}
