.LeftBtn,
.RightBtn {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

.LeftBtn:active,
.RightBtn:active {
  outline: none;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
}

.LeftBtn {
  left: 40px;
}

.RightBtn {
  right: 40px;
}

.LeftBtn::after,
.LeftBtn::before,
.RightBtn::after,
.RightBtn::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #646464;
}

.LeftBtn::after,
.LeftBtn::before {
  left: 9px;
}

.RightBtn::after,
.RightBtn::before {
  right: 9px;
}

.LeftBtn::after,
.RightBtn::after {
  top: 12px;
}

.LeftBtn::before,
.RightBtn::before {
  top: 22px;
}

.LeftBtn::after,
.RightBtn::before {
  transform: rotate(-45deg);
}

.LeftBtn::before,
.RightBtn::after {
  transform: rotate(45deg);
}

@media (max-width: 310px) {
  .ListWrapper p {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .LeftBtn {
    left: 20px;
  }

  .RightBtn {
    right: 20px;
  }
}
