.ItemWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.Input {
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  /* margin-bottom: 10px; */
  margin-right: 10px;
  padding: 0 15px;
  text-align: left;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
}

.ButtonWrapper {
  display: flex;
  justify-content: flex-end;
  /* width: 37%;
  min-width: 100px; */
  /* margin-left: auto; */
  flex-grow: 0;
}

.Button {
  width: 70px;
  height: 30px;
  font-size: 14px;
  /* font-weight: 700; */
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #646464;
  cursor: pointer;
}

.Button:disabled {
  background: #ccc;
  /* color: #000; */
  cursor: not-allowed;
}

.Type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  /* margin-left: auto; */
  /* flex-grow: 1; */
}

.Type input {
  margin-right: 5px;
}
