.menu {
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #f1f1f1;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.active {
  font-weight: 700;
}

.menuAddBtn {
  position: absolute;
  bottom: 60px;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  font-size: 20px;
  cursor: pointer;
  color: #000;
  background-color: #eee;
  border-radius: 25px;

  transition: opacity, left .22s ease-in;
}

.menuAddBtn:hover {
  opacity: .7;
}

.hidden {
  transform: translateY(-210px) translateX(15px)rotate(45deg);
  background-color: transparent;
  transition: transform .22s ease-in;
}
