.Button {
  width: 70px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #646464;
  cursor: pointer;
}

.Button:last-of-type {
  margin-right: 0;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.Button:disabled {
  background: #ccc;
  /* color: #000; */
  cursor: not-allowed;
}
