.Chart {
  position: relative;
  font-size: 12px;
  background-color: #f1f1f1;
}

.Chart h3{
  position: absolute;
  top: 25px;
  left: calc(100% / 2 - 35px);
  font-size: 16px;
}

.LeftBtn,
.RightBtn {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

.LeftBtn:active,
.RightBtn:active {
  outline: none;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
}

.LeftBtn {
  left: 40px;
}

.RightBtn {
  right: 40px;
}

.LeftBtn::after,
.LeftBtn::before,
.RightBtn::after,
.RightBtn::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #646464;
}

.LeftBtn::after,
.LeftBtn::before {
  left: 6px;
}

.RightBtn::after,
.RightBtn::before {
  right: 6px;
}

.LeftBtn::after,
.RightBtn::after {
  top: 11px;
}

.LeftBtn::before,
.RightBtn::before {
  top: 21px;
}

.LeftBtn::after,
.RightBtn::before {
  transform: rotate(-45deg);
}

.LeftBtn::before,
.RightBtn::after {
  transform: rotate(45deg);
}
